@import "src/ui/styles/global/variables";

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: $color1;

  .card {
    flex: 0 1 calc(33.33% - 16px);
    margin-bottom: 32px;

    &__title {
      margin-bottom: 8px;
    }

    &__subtitle {
      color: $color7;
      margin-bottom: 16px;
    }

    &__image {
      width: 100%;
      height: 250px; /* or any other desired value */
      object-fit: cover; /* or any other desired value */
    }

    &__content {
      color: $color7;
    }

    &__button {
      display: inline-block;
      background-color: $color9;
      color: $color7;
      border-radius: 4px;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #666;
      }
    }
  }
}
.card__price {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card__additional-info {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;

  &__item {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}


.card--hovered {
  transform: translateY(-20px);
}