$containerWidth: 1200px;

$color1: radial-gradient(circle, #4a4176 -24%, #1e1f35 40%);
$color2:  #808080;
$color3: #6434eb;
$color4: #A3FF12;
$color5: #f4f4f4;
$color6: rgba(#0a0a0a, 0.5);
$color7: #bbbbbb;
$color8: #808080;
$color9: #323232;
$color10: #D9D9D9;


$colorError: #be2121;
$colorSuccess: #07773F;


.dotted-background {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 10px 10px;
  -moz-background-size: 10px 10px;
  background-size: 10px 10px;
}

